/*tema de cores*/
:root {
    --color1: #F2A2B8;
    --color2: #39735E;
    --color3: #F2DBCE;
    --color4: #A62626;
    --color5: #BF6060;
}


@font-face {
    font-family: 'title-juni'; src: url('font/titulos/JunigardenSerif_PERSONAL_USE_ONLY.otf') format('opentype');
    font-family: 'title-junisw'; src: url('font/titulos/JunigardenSwash_PERSONAL_USE_ONLY.otf') format('opentype');
}

body {
    font-family: 'Roboto', sans-serif;
}

.section-title {
    font-family: 'title-juni','title-junisw', sans-serif;
}

.text-justify-custom {
    text-align: justify;
}


#logo {
    max-width: 20vw!important;
}

.navbar {
    background-color: var(--color1);
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: var(--color4);
}

#cabecalho .nav .nav-link, footer, .navbar-brand, .navbar-brand:hover,
.nav-cardapio .nav-link.nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: var(--color3);
}

.text-colored {
    color: var(--color5);
}



#sobre-restaurante, #cardapio {
    background-color: var(--color3);
}

.nav-cardapio .nav-link.active, #fale-conosco button {
    background-color: var(--color4);
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: var(--color4);
}

.social-links li {
    display: inline;
    list-style: none;

}

.social-links li a {
    text-decoration: none;
}

.img-fluid {
    width: 30px;
    height: 30px;
}

.footer-confet {
    background-color: var(--color1);
}

small {
    text-align: center;
}

@media (max-width:767px) {
    .carousel-item img {
        height: 200px;
    }

    header #logo {
        margin-left: 2.5rem;
    }

    #logo {
        max-width:30vw!important;
    }

    .img-fluid {
        width: 30px;
        height: auto;
    }

    
}